{% if input.body_only != 1  %}
<!DOCTYPE html>
<html class="{% block htmlclass %}html{% endblock %}">
	<head>

		<meta charset="utf-8">
		<title>
			Statusboard
		</title>
		<script type="text/javascript" src="{{ asset('assets/js/pace.js') }}"></script>
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="{{ asset('assets/css/style.css') }}" />
		<script type="text/javascript" src="{{ asset('assets/js/jquery.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('assets/js/handlebars.js') }}"></script>
		<script type="text/javascript" src="{{ asset('assets/js/ember.js') }}"></script>
		{% block application_js %}
			<script type="text/javascript" src="{{ asset('assets/js/app.js') }}"></script>
		{% endblock %}
	</head>
	<body>
	{% endif %}
		{{ block('content') }}
{% if input.body_only != 1  %}
	</body>
</html>
{% endif %}
